.THIS .container {
    position: relative;
}
.THIS .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    z-index: 1;
    text-align: center;
}
.THIS .center-spinner {
    position: relative;
	display: inline-block;
    top: 50%;
}
.THIS .pill-offset {
    position: absolute;
    top: -4px;
}
.THIS .link-offset {
    top: 28px;
    right: 10px;
    position: relative;
}
.THIS .toast-style {
    margin: 0 0 .5rem 0;
    width: 100%;
    min-width: 15rem;
    
    /* don't use slds-notify--toast because it may override the above styles in iOS devices, instead manually apply these styles */
    border-radius: 4px;
    padding: 16px 24px;
    display: inline-block;
    text-align: left;    
}
.THIS .hidden {
    display: none;
}