<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Automated_Volunteer_Templates/Communities_Volunteer_Forgot_Password_Email_Template</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>wvc@wish.org</emailSenderAddress>
    <emailSenderName>Wish &amp; Volunteer Center</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>true</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Automated_Volunteer_Templates/Communities_Volunteer_Forgot_Password_Email_Template</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>AZ_Intake_Manager</permissionSet>
        <profile>Admin</profile>
        <profile>Active Volunteer %28Member%29</profile>
        <profile>Prospective Volunteer %28Member%29</profile>
        <profile>Active Volunteer %28Login%29</profile>
        <profile>Prospective Volunteer %28Login%29</profile>
        <profile>Volunteer Staff</profile>
        <profile>Customer Community Plus Login User</profile>
        <profile>Program Staff</profile>
        <profile>Customer Community Plus User</profile>
        <profile>Read Only National Staff</profile>
        <profile>Full Access National Staff</profile>
        <profile>Office Staff</profile>
        <profile>Chapter Dev%2FFin Staff</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>VisualForce</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>VisualForce</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>VisualForce</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Wish_Volunteer_Community_C</picassoSite>
    <selfRegProfile>prospective volunteer (login)</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Wish_Volunteer_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>dsfs__DocuSign_Status__c</customTab>
        <defaultTab>Chatter</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <welcomeTemplate>Automated_Volunteer_Templates/Communities_New_Prospective_Volunteer_Welcome_Email_Template</welcomeTemplate>
</Network>
