.THIS .height-transition {
    -webkit-transition: max-height .4s ease-in-out;
    -moz-transition: max-height .4s ease-in-out;
    -ms-transition: max-height .4s ease-in-out;
    -o-transition: max-height .4s ease-in-out;
    transition: max-height .4s ease-in-out;
}
.THIS .slide-transition {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -moz-transition: -moz-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}
.THIS .content {
    background: #F0F8FB;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #236ECE;
    width: 95%;
}
.THIS .hidden {
    display: none;
}