.THIS.blue-color {
    background-color: #0070D2;
    color: #fff;
}
.THIS .icon-white {
    fill: #fff;
    height: 11px;
    width: 11px;
    left: 2px;
}
.THIS .button-left {
    left: 2px;
    bottom: 1px;
}