/**
 * Created by gmayer on 7/16/2019.
 */
.THIS {
    overflow: auto;
}

.THIS #tableHeader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS #tableHeaderText {
    font-weight: 400;
    padding: 4px 0 4px 0;
    text-transform: uppercase;
}

.THIS div header div {
    font-weight: 400;
}

.THIS .button-center {
    margin: 0 auto;
    width: 100%;
}